$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.customButton {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba($main, 0.84);
  text-transform: capitalize;
  padding: 6px 14px;
  font-size: 1.2em;
  border: 1px solid $accent;
  border-radius: 6px;

  &.accent {
    background-color: $accent;
  }

  &.giveMarginR {
    margin-right: 20px;
  }
}

@media only screen and (max-width: 375px) {
  .customButton {
    &.resumeButton {
      background: #8d99ae;
      color: $main;
      border-color: #8d99ae;
    }
  }
}
