$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.customButton {
  background: none;
  border: none;
  cursor: pointer;
  color: rgba($main, 0.84);
  text-transform: capitalize;
  padding: 10px 20px;
  font-size: 1.2em;
  border: 1px solid $accent;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;

  &.accent {
    background-color: $accent;
  }

  &.giveMarginR {
    margin-right: 20px;
  }

  &:hover {
    background-color: $main;
    color: $background;
    border-color: $background;
  }
}

@media only screen and (max-width: 375px) {
  .customButton {
    &.resumeButton {
      background: #8d99ae;
      color: $main;
      border-color: #8d99ae;
    }
  }
}

@media screen and (max-width: 400px) {
  .customButton.giveMarginR {
    margin-right: 0;
  }
}

@media screen and (max-width: 620px) {
  .customButton.giveMarginR.bottomButton {
    margin-right: 0;
  }
}
