$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.contactPrompt {
  background-color: $background;
  padding-top: 80px;
  padding-bottom: 240px;

  &.darken {
    opacity: 0.55;
  }

  .sectionTitle {
    color: $main;
    font-size: 1.2em;
    text-align: center;
    padding-bottom: 25px;
  }

  .buttonContainer {
    display: flex;
    position: relative;
    justify-content: center;
    left: 50%;
    transform: translate(-50%);
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 620px) {
  .buttonContainer {
    // flex-direction: column;
    row-gap: 20px;
    // align-items: center;
  }

  .buttonContainer {
    a {
      flex-basis: 50%;
      text-align: center;
    }
  }
}

@media screen and (max-width: 400px) {
  .buttonContainer {
    // flex-direction: column;
    row-gap: 20px;
    // align-items: center;
  }

  .buttonContainer {
    a {
      flex-basis: 100%;
      text-align: center;
    }
  }
}
