$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.projectCard {
  //   border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  border-radius: 12px;
  // box-shadow: 0px 4px 10px rgba(91, 95, 106, 0.235);
  // border: 1px solid red;

  &:last-of-type {
    margin-bottom: 0px;
  }

  .projectImage {
    min-width: 100%;
    // height: 180px;
    border-radius: 12px;
    background-color: rgba(#ffffff, 0.18);
    display: flex;
    place-content: center;

    .image {
      padding: 8% 0;
      width: 90%;
      height: 90%;
    }
  }

  .projectInfo {
    // border: 1px solid red;
    color: $main;
    padding-top: 15px;
    padding-bottom: 15px;

    .title {
      font-size: 1.4em;
      line-height: 32px;
    }

    .tools {
      opacity: 0.66;
      font-size: 0.9em;
      line-height: 25px;
      padding-top: 10px;
    }

    .summary {
      padding-top: 10px;
      line-height: 25px;
    }

    .projectLinks {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      .githubLinkContainer {
        display: flex;
        justify-content: flex-start;
      }

      .learnMoreLinkContainer {
        display: flex;
        justify-content: flex-end;
      }

      .accentLink {
        position: relative;
        cursor: pointer;
        color: $main;

        &::before {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          background-color: red;
          height: 80%;
          width: 0;
          bottom: 00%;
          background-color: #4a93fb;
          opacity: 0.35;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .projectCard {
    flex-direction: row;
    position: relative;
    align-items: center;
    margin-bottom: 50px;

    .projectImage {
      // min-width: 40%;
      // width: 40%;
      .image {
      }
      // height: auto;
    }

    .projectInfo {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .projectCard {
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    .projectImage {
      min-width: 50%;
    }

    .projectInfo {
      padding-left: 35px;
    }
  }
}

@media screen and (min-width: 1170px) {
  .projectCard {
    max-width: 1100px;
    // border: 1px solid red;
    flex-direction: row;

    .projectImage {
      min-width: 55%;
    }
  }
}

@media screen and (max-width: 890px) {
  .projectCard {
    // border: 1px solid red;
    flex-direction: column;

    width: 80%;

    .projectInfo {
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media screen and (max-width: 700px) {
  .projectCard {
    // border: 1px solid red;
    flex-direction: column;

    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .projectCard {
    // border: 1px solid red;
    flex-direction: column;

    width: 100%;

    .projectInfo {
      padding-top: 20px;
      padding-left: 0px;
      padding-right: 0px;
    }
  }
}
