$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.projectCard {
  // border: 1px solid magenta;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 100px;
  border-radius: 12px;
  // box-shadow: 0px 4px 10px rgba(91, 95, 106, 0.235);
  // border: 1px solid red;
  background-color: rgba(#ffffff, 0.02);

  &:last-of-type {
    margin-bottom: 0px;
  }

  .projectImage {
    min-width: 100%;
    // height: 180px;
    border-radius: 12px;
    background-color: rgba(#ffffff, 0.18);
    align-self: stretch;
    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid purple;

    .projectImageContainer {
      // border: 1px solid red;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .image {
      padding: 8% 0;
      width: 90%;
      height: auto;
    }

    .display-block {
      display: block;
    }

    .display-none {
      display: none;
    }
  }

  .projectInfo {
    // border: 1px solid red;
    color: $main;
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-right: 40px;

    .title {
      font-size: 1.4em;
      line-height: 32px;
    }

    .projectTags {
      // border: 1px solid green;
    }

    .projectTags ul {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      column-gap: 10px;
      flex-wrap: wrap;
      margin-top: 10px;
      row-gap: 10px;
    }

    .projectTag {
      font-size: 0.9em;
      position: relative;
      background-color: rgba(#4a93fb, 0.6);
      padding: 2px 8px;
      border-radius: 8px;
      z-index: 1;
    }

    // .projectTag::before {
    //   content: "";
    //   position: absolute;
    //   top: 0;
    //   bottom: 0;
    //   width: calc(100% + 15px);
    //   left: 50%;
    //   transform: translateX(-50%);
    //   background-color: red;
    //   z-index: -1;
    // }

    .tools {
      opacity: 0.66;
      font-size: 0.9em;
      line-height: 25px;
      padding-top: 10px;
    }

    .summary {
      padding-top: 10px;
      line-height: 25px;
    }

    .projectLinks {
      margin-top: 15px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      row-gap: 10px;
      // border: 1px solid red;

      &.only-right {
        justify-content: right;
      }

      .readMoreLink {
        margin: 0;
        padding: 0;
        color: $background;
        background-color: $main;
        padding: 2px 8px;
        font-size: 0.9em;
        border-radius: 8px;
      }

      .projectLinks-right {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        // border: 1px solid red;
      }

      .liveLink {
        color: $main;
        font-size: 1.1em;
      }

      .githubLink {
        color: $main;
        font-size: 1.2em;
      }

      .githubLinkContainer {
        display: flex;
        justify-content: flex-start;
      }

      .learnMoreLinkContainer {
        display: flex;
        justify-content: flex-end;
      }

      .accentLink {
        position: relative;
        cursor: pointer;
        color: $main;

        &::before {
          position: absolute;
          content: "";
          left: 0;
          right: 0;
          background-color: red;
          height: 80%;
          width: 0;
          bottom: 00%;
          background-color: #4a93fb;
          opacity: 0.35;
          z-index: -1;
          transition: width 0.3s;
        }

        &:hover {
          &::before {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 700px) {
  .projectCard {
    flex-direction: column;
    position: relative;
    align-items: center;
    margin-bottom: 50px;

    width: 80%;

    .projectImage {
      .image {
      }
      // height: auto;
    }

    .projectInfo {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}

@media screen and (min-width: 890px) {
  .projectCard {
    // border: 1px solid red;
    flex-direction: row;

    width: 100%;

    .projectImage {
      min-width: 40%;
      width: 40%;
    }

    .projectInfo {
      padding-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .projectCard {
    flex-direction: row;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    .projectImage {
      min-width: 50%;
    }

    .projectInfo {
      padding-left: 35px;
    }
  }
}

@media screen and (min-width: 1170px) {
  .projectCard {
    max-width: 1100px;
    // border: 1px solid red;
    flex-direction: row;

    .projectImage {
      min-width: 55%;
    }
  }
}

@media screen and (max-width: 700px) {
  .projectCard {
    // border: 1px solid red;
    flex-direction: column;

    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .projectCard {
    // border: 1px solid red;
    flex-direction: column;

    width: 100%;

    .projectInfo {
      padding-top: 20px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }
}
