$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.header {
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  align-items: center;
  background-color: $background;
  padding: 20px 10px;
  padding-top: 30px;
  z-index: 1;
  // border: 1px solid green;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    // border: 1px solid red;
  }

  .option {
    color: $main;
    padding: 4px 8px;
  }

  .logo {
    .option {
      font-size: 1.5em;
      font-weight: bold;
    }
  }

  .links {
    display: inline;
    display: flex;
    flex-direction: row;
    align-items: center;

    .option {
      font-size: 1.1em;
      display: inline-block;
      position: relative;
      z-index: 2;

      &::after {
        content: "";
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%);
        width: 85%;
        height: 40%;
        z-index: -1;
        transition: background-color 0.3s, opacity 0.3s;
      }

      &.selected {
        &::after {
          background-color: #4a93fb;
          opacity: 0.35;
        }
      }

      &:hover {
        &::after {
          background-color: #4a93fb;
          opacity: 0.35;
        }
      }
    }
  }
}

@media screen and (min-width: 600px) {
  .header {
    .logo {
      .option {
        font-size: 1.8em;
      }
    }
    .links {
      .option {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (min-width: 1170px) {
  .header {
    .logo {
      .option {
        font-size: 2em;
      }
    }
    .links {
      .option {
        font-size: 1.2em;
      }
    }
  }
}

@media screen and (min-width: 1350px) {
  .header {
    .container {
      max-width: 1200px;
    }
  }
}
