$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.footerSection {
  background-color: $background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
  padding-bottom: 40px;
  max-width: 1200px;
  margin: 0 auto;
  border: 1px solid red;

  .logo {
    color: $main;
    font-size: 1.2em;
  }

  .footerLinks {
    ul {
      list-style-type: none;
      display: flex;
      flex-direction: row;
      li {
        padding: 5px;
        // border: 1px solid red;
        margin-right: 2px;

        .linkedIn,
        .github,
        .twitter {
          transform: scale(1.1);
        }

        &:last-of-type {
          margin-right: 0px;
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .footerSection {
    .footerLogo {
      .logo {
        font-size: 1.3em;
      }
    }
    .footerLinks {
      ul {
        li {
          .linkedIn,
          .github,
          .twitter {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
