$accent: #4a93fb;
$background: #2b2d42;
$main: #edf2f4;

.linkButton {
  .link {
    color: $main;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.9em;

    .linkArrow {
      height: 13px;
      margin-left: 10px;
    }
  }
}
